.container-demo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 5px;
}

.container-demo> div{
    background-color: antiquewhite;
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.container-demo> div:hover{
    background: transparent;
    border-color: blueviolet;
    cursor: default;
}

.container-demo> div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: black;
}

.container-demo{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    row-gap: 2rem;

}

.exprience_details{
    display: flex;
    gap: 1rem;
}

.exprience_details-icon{
    margin-top: 6px;
    color: var(--color-primary);
}

