.button_style{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 1.5em 6.8em;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    color: #3f455d;
}
.navbar{
    position: fixed;
    width: 100%;
}

